<ion-header mode="ios" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" color="primary">
      list reorder
    </ion-title>
    <ion-button slot="end" size="small" (click)="disableReorder = !disableReorder">
      Toggle
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-list>
    <ion-reorder-group [disabled]="disableReorder" (ionItemReorder)="doReOrder($event)">
      <ion-item *ngFor="let c of characters">
        <ion-label>{{c}}</ion-label>
        <ion-reorder slot="end">
          <ion-icon name="reorder-three-outline"></ion-icon>
        </ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>
