<app-header title="Refresher"></app-header>

<!-- The fullscreen property don't allow "ion-refresher-content" to appear properly. -->
<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let item of items; let i = index;"
              class="animate__animated animate__fadeIn">
      <ion-label>{{item}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
