<!--NOTE: We need to add the "PopoverInfoComponent" in the "ComponentModule" -->
<ion-list>
  <ion-list-header>
    Options
  </ion-list-header>
  <ion-item *ngFor="let option of options; let i = index;"
            (click)="onSelectOption(i + 1)"
            mode="ios"
            detail="true"
            button="true">
    <ion-label>Item {{ i + 1}}</ion-label>
  </ion-item>
  <ion-item (click)="close()"
            mode="ios"
            detail="false"
            button="true"
            lines="none">
    <ion-label>Close</ion-label>
  </ion-item>
</ion-list>
