<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Avatar</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="assets/img/Emma.png" alt="Emma"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-chip color="primary" outline="true">
    <ion-avatar>
      <ion-img src="assets/img/Emma.png" alt="Emma"></ion-img>
    </ion-avatar>
    <ion-label>Emma</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/img/Emma.png" alt="Emma"></ion-img>
      </ion-avatar>
      <ion-label>Emma Maria</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
