<app-header title="Slides - Deprecated"></app-header>
<ion-content class="ion-padding" fullscreen="true">
  <p>
    <strong>NOTE:</strong> ion-slides has been deprecated and will be removed in Ionic Framework v7.0.
    We recommend using the framework-specific integrations that Swiper.js provides, allowing for faster
    bug fixes and an improved developer experience.
    See <a href="https://ionicframework.com/docs/api/slides" target="_blank">Ionic Slides</a> for more
    information including migration steps.
  </p>
</ion-content>
